In [20]:
#remover o banco caso exista.
import os
os.remove("escola.db") if  os.path.exists("./escola.db") else None

In [2]:
#importando o módulo do sqlite
import sqlite3

In [3]:
#Cria uma conexão com banco
#Verifica se o banco existe, caso não exista ele cria.
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
#Criando um cursor
#Um cursos permite percorrer todos os registros em um conjunto de dados

cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
#criando uma tabela 
sql_create = 'create table curso \
(id integer primary key, \
titulo varchar(100), \
categoria varchar(140))'

In [8]:
#executando a crição da tabela
cur.execute(sql_create)

In [9]:
#instrução para inserção de registros na tabela
sql_insert = 'insert into curso values (?, ? , ?)'

In [10]:
#Dados a serem inseridos
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fudamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [11]:
#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [12]:
#Gravando as informações com o commit
con.commit()

In [13]:
#Criando setença SQL para recuperação dos registros
sql_select = 'select * from curso'

In [14]:
#selecionar e recuperar registros
cur.execute(sql_select)
#salvar as informações em uma variavel
dados = cur.fetchall()

In [15]:
#exibição dos dados
for linha in dados:
    print('Id Curso: %d, Nome Curso: %s, Categoria Curso: %s' % linha)

Id Curso: 1000, Nome Curso: Ciência de Dados, Categoria Curso: Data Science
Id Curso: 1001, Nome Curso: Big Data Fudamentos, Categoria Curso: Big Data
Id Curso: 1002, Nome Curso: Python Fundamentos, Categoria Curso: Análise de Dados

In [16]:
#adicionando novos registros
recset = [(1003, 'Engenharia de Dados', 'Pós-Graduação'),
         (1004, 'Cientista de Dados', 'Pós-Graduação')]

#inserindo os novos registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
#salvando a transação
con.commit()

In [17]:
#executando a transação de uma forma diferente
cur.execute('select * from curso')
receset = cur.fetchall()

In [18]:
for rec in receset:
    print('Id Curso: %d, Nome Curso: %s, Categoria Curso: %s' % rec)

Id Curso: 1000, Nome Curso: Ciência de Dados, Categoria Curso: Data Science
Id Curso: 1001, Nome Curso: Big Data Fudamentos, Categoria Curso: Big Data
Id Curso: 1002, Nome Curso: Python Fundamentos, Categoria Curso: Análise de Dados
Id Curso: 1003, Nome Curso: Engenharia de Dados, Categoria Curso: Pós-Graduação
Id Curso: 1004, Nome Curso: Cientista de Dados, Categoria Curso: Pós-Graduação

In [19]:
#fechar conexão
con.close()